<?xml version="1.0"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
	bean-discovery-mode="annotated" version="1.1">
	<!-- Beanアーカイブ内で宣言しても有効にならない。必ずインジェクション先コンテキストのbeans.xmlで宣言すること -->
	<alternatives>
		<class>com.redhat.example.model.CustomClientHostImpl</class>
	</alternatives>
</beans>
